{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'ToDo/styles.css' %}">
    <title>ToDo App</title>
</head>
<body>
        <header>
            <div class="logo">ToDO</div>
            <div>
                <a href="{% url 'login' %}" class="login">Log In</a>
                <a href="{% url 'register' %}"><button class="singup-btn" >Sign Up</button></a>
                <a href="#" id="hamberger"><i class="fas fa-bars" ></i></a>
            </div>
            <div class="hamberger-menu" id="hamberger-menu">
                <a href="{% url 'login' %}" class="ham-item">Log In</a>
                <a href="{% url 'register' %}" class="ham-item">Sign Up</a>
            </div>
        </header>
       
        <div class="heading">
            <div class="heading-img"></div>
            <div class="title">
                <p>Stay Organized <br> with ToDo</p>
            </div>
        </div>
        <div class="context">
            <div class="text">
                <p>Whether there is a work-related task or a personal goal, ToDo is here to help you manage all your to-dos.</p>
            <a href="{% url 'register' %}"><button class="getstart-btn" >get started for free</button></a>
            </div>
            <div class="app-img"></div>
        </div>
        <footer>
            <div class="left-footer">
                <div class="logo">ToDO</div>
                <p>© ToDo. All Rights Reserved</p>
            </div>
            
            <div class="icons">
                <div class="social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
                <a href="{% url 'register' %}"><button class="getstart-btn" >get started for free</button></a>
            </div>        
        </footer>


    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        const hamberger = document.getElementById('hamberger')
        const menu = document.getElementById('hamberger-menu')

        hamberger.addEventListener('click', () => {
            menu.classList.toggle('show')
        })

        })
    </script>
</body>
</html>